
mat-form-field {
  padding: 10px;
  margin: 10px;
}

::ng-deep .mat-mdc-form-field-infix  {
  min-height: 45px;
}

h2, p {
  text-align: center;
  color: #444;
}

.date-container {
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
