::ng-deep .transparent {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.0);
  }
}

::ng-deep .transparent.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--primary-accent);
}