.form-row {
    display: flex;

    mat-form-field {
        &:last-child {
            margin-left: 2rem;
        }
    }
}

.mat-mdc-dialog-content {
    overflow: auto;
}
mat-form-field {
  padding: 5px;
}

.statusText {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.statusIcon {
    width: 80px;
    height: 80px;
    color: black !important;
    margin: 5px;
}
.spinner {
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

.color-circles {
    margin-bottom: 10px;
}

::ng-deep .mdc-radio {
    padding: 0 !important 
}

::ng-deep .mat-mdc-radio-touch-target {
    height: 30px !important;
    width: 30px !important;
}

::ng-deep .mdc-radio__background::before {
    width: 30px !important;
    height: 30px !important;
    left: -5px !important;
    top: -5px !important;
}

.green.mat-mdc-radio-checked {
    ::ng-deep .mdc-radio__outer-circle {
        border-color: #087F13 !important;
    }
    ::ng-deep .mdc-radio__inner-circle {
        border-color: #087F13 !important;
    }
    ::ng-deep .mat-mdc-radio-touch-target  {
        background-color: #087F13 !important;
        display: none;
    }
}
.yellow.mat-mdc-radio-checked {
    ::ng-deep .mdc-radio__outer-circle {
        border-color: #feba3c !important;
    }
    ::ng-deep .mdc-radio__inner-circle {
        border-color: #feba3c !important;
    }
    ::ng-deep .mat-ripple-element {
        background-color: #feba3c !important;
    }
    ::ng-deep .mat-mdc-radio-button.mat-accent {
        opacity: 1;
    }
}
.red.mat-mdc-radio-checked {
    ::ng-deep .mdc-radio__outer-circle {
        border-color: #FB1120 !important;
    }
    ::ng-deep .mdc-radio__inner-circle {
        border-color: #FB1120 !important;
    }
    ::ng-deep .mat-ripple-element {
        background-color: #FB1120 !important;
    }
}

.mat-mdc-dialog-actions {
    gap: 8px;
}

.mat-mdc-button-base+.mat-mdc-button-base {
    margin: 0;
}





@media (max-width: 599px) {
    ::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel.mat-mdc-dialog-panel {
        max-width: calc(100vw - 20px);
        padding-left: 5px;
        padding-right: 5px;
    }

    mat-dialog-content.mat-mdc-dialog-content {
        padding-left: 7px;
        padding-right: 7px;
    }

    .project-status {
        margin-left: 10px;
    }
}