<div class="home-container" *ngIf="user">
  <div class="content">
    <div class="home-page-header">
      <div class="home-page-header-top">
        <mat-icon class="dashboard-icon">dashboard</mat-icon>
        <h1 class="home-page-title">Home</h1>

        <div class="floating-reorder-controls">
          <button
            *ngIf="!isReordering"
            mat-raised-button
            class="reorder-gear"
            type="button"
            aria-label="Reorder cards"
            matTooltip="Reorder Cards"
            (click)="toggleReordering()">
            <mat-icon>swap_horizontal_circle</mat-icon>
          </button>

          <div *ngIf="isReordering" class="reordering-state">
            <button
              mat-icon-button
              type="button"
              aria-label="Save reordering"
              matTooltip="Confirm"
              (click)="finishReordering()">
              <mat-icon>check</mat-icon>
            </button>

            <button
              mat-icon-button
              type="button"
              aria-label="Cancel reordering"
              matTooltip="Cancel"
              (click)="cancelReordering()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="home-page-divider"></div>
    </div>

    <div
      class="home-cards-container"
      cdkDropList
      cdkDropListOrientation="mixed"
      [cdkDropListAutoScrollDisabled]="true"
      [cdkDropListData]="cards"
      [cdkDropListDisabled]="!isReordering"
      [cdkDropListSortingDisabled]="!isReordering"
      (cdkDropListDropped)="drop($event)">

      <div
        *ngFor="let card of cards; trackBy: trackByCardId"
        class="home-card"
        [ngClass]="isReordering ? 'is-draggable is-reordering' : ''"
        cdkDrag
        [cdkDragDisabled]="!isReordering">

        <mat-icon class="home-icon">{{ card.icon }}</mat-icon>
        <h5>{{ card.title }}</h5>
        <p>{{ card.description }}</p>

        <ng-container *ngFor="let action of card.actions">
          <button
            *ngIf="action.route"
            class="button-black"
            mat-raised-button
            [disabled]="isReordering"
            [routerLink]="action.route">
            {{ action.label }}
          </button>

          <a
            *ngIf="action.href"
            class="button-black button-link"
            mat-raised-button
            target="_blank"
            rel="noopener noreferrer"
            [href]="isReordering ? null : action.href"
            [attr.tabindex]="isReordering ? -1 : null"
            [attr.aria-disabled]="isReordering"
            (click)="openExternal(action.href, $event)">
            {{ action.label }}
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>