<div class="home-container" *ngIf="user">
  <div class="content">
    <div class="header-card">
      <img class="clickable" [src]="this.userphoto" 
      [routerLink]="'/profile/'+user.uuid" alt="profile picture"/>
      <div class="header-card-info">
        <h2>Welcome, {{ user.name }}</h2>
      </div>
      <div class="header-card-info-mobile">
        <h1>Welcome,</h1>
        <h1>{{ user.name }}</h1>
      </div>
      <div class="header-card-reorder-controls">
        <button
          *ngIf="!isReordering"
          mat-raised-button
          class="header-card-reorder-toggle"
          type="button"
          (click)="toggleReordering()">
          Reorder Cards
        </button>

        <div *ngIf="isReordering" class="reordering-state">
          <span class="reordering-text">Reordering...</span>
          <button 
            mat-icon-button type="button"
            aria-label="Save reordering"
            matTooltip="Done"
            (click)="finishReordering()"
            >
            <mat-icon>check</mat-icon>
          </button>
          <button 
            mat-icon-button type="button"
            aria-label="Cancel reordering"
            (click)="cancelReordering()"
            matTooltip="Cancel"
            >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- <div 
    class="home-cards-container"
    cdkDropList
    [cdkDropListData]="cards"
    [cdkDropListDisabled]="!isReordering"
    (cdkDropListDropped)="drop($event)"
    >
      <div class="home-card">
        <mat-icon class="home-icon">send</mat-icon>
        <h5>DAILY STATUS</h5>
        <button class="button-black" mat-raised-button [routerLink]="'/daily-status'">Submit</button>
      </div>
      <div class="home-card">
        <mat-icon class="home-icon">calendar_month</mat-icon>
        <h5>TIME OFF</h5>
        <button class="button-black" mat-raised-button [routerLink]="'/time-off'">Submit</button>
      </div>
      <div class="home-card">
        <mat-icon class="home-icon">list</mat-icon>
        <h5>PROJECTS</h5>
        <button class="button-black" mat-raised-button [routerLink]="'/projects'">View All</button>
      </div>

      <div class="home-card">
        <mat-icon class="home-icon">people</mat-icon>
        <h5>ROC TEAM PAGE</h5>
        <button class="button-black" mat-raised-button [routerLink]="'/team-summary'">View All</button>
      </div>
      <div class="home-card">
        <mat-icon class="home-icon">summarize</mat-icon>
        <h5>EMPLOYEE DEVELOPMENT</h5>
        <button class="button-black" mat-raised-button [routerLink]="'/reports/personal-dev'">View/Edit</button>
      </div>
      <div class="home-card">
        <mat-icon class="home-icon">keyboard_double_arrow_up</mat-icon>
        <h5>CERTIFICATION & TRAINING</h5>
        <button class="button-black" mat-raised-button [routerLink]="'/certification-training'">View/Manage</button>
      </div>

      <div class="home-card">
        <mat-icon class="home-icon">help</mat-icon>
        <h5>PORTAL SUPPORT</h5>
        <a class="button-black button-link" target="_blank" mat-raised-button href="https://docs.google.com/forms/d/e/1FAIpQLSdl6xvlXO6lTzz0Wz5Esa8zg6syMQyzMJlZQLXVcb0CHhVRdw/viewform?usp=publish-editor">Request Enhancement</a>
        <a class="button-black button-link" target="_blank" mat-raised-button href="https://docs.google.com/forms/d/e/1FAIpQLSdSdcvN0eiqlv3nLDlN1pG7rti_u8oPHLwstBjHaUZUXHxxLg/viewform?usp=publish-editor">Report a Bug</a>
      </div>
    </div> -->
    <div
      class="home-cards-container"
      cdkDropList
      cdkDropListOrientation="mixed"
      [cdkDropListAutoScrollDisabled]="true"
      [cdkDropListData]="cards"
      [cdkDropListDisabled]="!isReordering"
      [cdkDropListSortingDisabled]="!isReordering"
      (cdkDropListDropped)="drop($event)">

      <div
        *ngFor="let card of cards; trackBy: trackByCardId"
        class="home-card"
        [ngClass]="[
          (!isReordering && card.className) ? card.className : '',
          isReordering ? 'is-draggable is-reordering' : ''
        ]"
        cdkDrag
        [cdkDragDisabled]="!isReordering">

        <mat-icon class="home-icon">{{ card.icon }}</mat-icon>
        <h5>{{ card.title }}</h5>

        <ng-container *ngFor="let action of card.actions">
          <button
            *ngIf="action.route"
            class="button-black"
            mat-raised-button
            [disabled]="isReordering"
            [routerLink]="action.route">
            {{ action.label }}
          </button>

          <a
            *ngIf="action.href"
            class="button-black button-link"
            mat-raised-button
            target="_blank"
            rel="noopener noreferrer"
            [attr.href]="isReordering ? null : action.href"
            [attr.tabindex]="isReordering ? -1 : null"
            [attr.aria-disabled]="isReordering"
            (click)="isReordering && $event.preventDefault()">
            {{ action.label }}
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>