<div class="home-container" *ngIf="user">
  <div class="content">
    <div class="header-card">
      <img class="clickable" [src]="this.userphoto" 
      [routerLink]="'/profile/'+user.uuid" alt="profile picture"/>
      <div class="header-card-info">
        <h2>Welcome, {{ user.name }}</h2>
      </div>
      <div class="header-card-info-mobile">
        <h1>Welcome,</h1>
        <h1>{{ user.name }}</h1>
      </div>
      <div class="header-card-reorder-controls">
        <button
          *ngIf="!isReordering"
          mat-raised-button
          class="header-card-reorder-toggle"
          type="button"
          (click)="toggleReordering()">
          Reorder Cards
        </button>

        <div *ngIf="isReordering" class="reordering-state">
          <span class="reordering-text">Reordering...</span>
          <button 
            mat-icon-button type="button"
            aria-label="Save reordering"
            matTooltip="Done"
            (click)="finishReordering()"
            >
            <mat-icon>check</mat-icon>
          </button>
          <button 
            mat-icon-button type="button"
            aria-label="Cancel reordering"
            (click)="cancelReordering()"
            matTooltip="Cancel"
            >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div
      class="home-cards-container"
      cdkDropList
      cdkDropListOrientation="mixed"
      [cdkDropListAutoScrollDisabled]="true"
      [cdkDropListData]="cards"
      [cdkDropListDisabled]="!isReordering"
      [cdkDropListSortingDisabled]="!isReordering"
      (cdkDropListDropped)="drop($event)">

      <div
        *ngFor="let card of cards; trackBy: trackByCardId"
        class="home-card"
        [ngClass]="[
          (!isReordering && card.className) ? card.className : '',
          isReordering ? 'is-draggable is-reordering' : ''
        ]"
        cdkDrag
        [cdkDragDisabled]="!isReordering">

        <mat-icon class="home-icon">{{ card.icon }}</mat-icon>
        <h5>{{ card.title }}</h5>

        <ng-container *ngFor="let action of card.actions">
          <button
            *ngIf="action.route"
            class="button-black"
            mat-raised-button
            [disabled]="isReordering"
            [routerLink]="action.route">
            {{ action.label }}
          </button>

          <a
            *ngIf="action.href"
            class="button-black button-link"
            mat-raised-button
            target="_blank"
            rel="noopener noreferrer"
            [attr.href]="isReordering ? null : action.href"
            [attr.tabindex]="isReordering ? -1 : null"
            [attr.aria-disabled]="isReordering"
            (click)="isReordering && $event.preventDefault()">
            {{ action.label }}
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>