.content-div {
  display: flex;
}

/* SIDEBAR WIDTH FIX */
app-sidenav {
  width: 240px;        /* 🔥 increase width */
  min-width: 240px;
  background-color: #121212;
}

/* MAIN CONTENT */
.content {
  flex: 1;
}