.content-div {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

/* SIDEBAR WIDTH FIX */
app-sidenav {
  width: 240px;
  min-width: 240px;
  background-color: #121212;
  position: sticky;
  top: 0;
  height: 100vh;
}

/* MAIN CONTENT */
.content {
  flex: 1;
}

@media screen and (max-width: 575px) {
  app-sidenav {
    display: none;
  }

  .content {
    width: 100%;
  }
}