.mat-mdc-dialog-title,
.mat-mdc-dialog-content {
	color: var(--primary-text) !important;
}

.mat-mdc-dialog-actions {
	padding-top: 0.5rem;
}

.mat-mdc-dialog-actions .mat-mdc-button {
	--mdc-text-button-label-text-color: var(--primary-accent);
	color: var(--primary-accent) !important;
	border: 1px solid var(--primary-accent);
	border-radius: 0.5rem;
	background-color: var(--primary-surface) !important;
}
