<app-auth-shell pageTitle="Login">
  <form class="auth-form" ngNoForm (submit)="$event.preventDefault()">
    <div class="error-message" *ngIf="loginError">
      {{ errorMessage }}
    </div>

    <mat-form-field appearance="outline" class="form-field" [class.error-field]="loginError">
      <input matInput id="username" name="username" type="text" placeholder="username*" required [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field" [class.error-field]="loginError">
      <input
        matInput
        id="password"
        name="password"
        type="password"
        placeholder="password*"
        required
        [(ngModel)]="password"
      />
    </mat-form-field>

    <button mat-raised-button type="button" class="primary-button" (click)="login()">
      Login
    </button>

    <a class="forgot-password-link" routerLink="/forgot-password">Forgot password?</a>
  </form>
</app-auth-shell>
