.game-page {
  text-align: center;
  padding: 40px;
  color: white;
}

.game-top-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
}

.stats,
.leaderboard {
  margin-top: 20px;
}